MQTT_BROKER=test.mosquitto.org
MQTT_PORT=1883
MQTT_KEEPALIVE=60
MQTT_CLIENT_ID=puc_iot_bme688_bosch_raw
MQTT_TOPIC_RAW=puc/iot/bme688/raw

IOT_MYSQL_HOST=localhost
IOT_MYSQL_DATABASE=IoT
IOT_MYSQL_USER=root
IOT_MYSQL_PASSWORD=
IOT_MYSQL_TABLE_BOSCH_RAW=dados_bme688_bosch_raw
